
<header>
	<div class="container">
		<div class="col"><img ng-src="{{logo}}" height="45px"></div>
		<div class="col">
		<h1 ng-bind="projectName"></h1>
		<h2 ng-bind="projectSubline"></h2>
		</div>
</header>

<section>

	<div class="container" ng-repeat="group in mygroups" class="mockupList">
		<h1 ng-bind="group.groupTitle"></h1>
		<ul>
			<li ng-repeat="mockup in group.mockups" class="mockupList"
				>
				<a href="#/mockups/{{mockup.name}}?
					gr={{mygroups.indexOf(group)}}&
					it={{group.mockups.indexOf(mockup)}}"
					ng-bind="mockup.name"
				></a>
			</li>
		</ul>
	</div>

</section>